<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="./assets/css/main.css" />
        <title>Vemoker</title>
    </head>
    <body>
        <div id="app" @keydown="keyDowned">
            <div
                class="cover"
                v-show="isCoverShown"
                @click="coverClicked"
            ></div>
            <header id="header">
                <div class="menu-bar">
                    <span
                        :id="'menu__' + menu.subMenusId"
                        class="menu"
                        :class="{ selected: header.subMenus.shownSubMenusId === menu.subMenusId}"
                        ref="menu"
                        v-for="menu in header.menuBar.menus"
                        @click="menuClicked"
                        @mousedown.left="menuMouseDowned"
                        @mouseover="menuMouseOver"
                    >
                        {{ menu.name }}
                    </span>
                </div>
                <div
                    class="sub-menus"
                    v-show="header.subMenus.isShown"
                    :style="{ top: header.subMenus.position.top+'px', left:header.subMenus.position.left+'px' }"
                >
                    <div
                        class="sub-menu"
                        v-for="subMenu in header.subMenus[header.subMenus.shownSubMenusId]"
                        @click="subMenu.executedFunction"
                    >
                        {{ subMenu.shownName }}
                    </div>
                </div>
            </header>
            <main id="main"></main>
            <footer id="footer"></footer>
        </div>
    </body>
    <script src="./assets/js/app.js"></script>
</html>
