<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
        <link rel="stylesheet" href="./assets/css/main.css" />
        <title>Vemoker</title>
    </head>
    <body>
        <div id="app" @keydown="keyDowned">
            <div
                class="cover"
                v-show="isCoverShown"
                @click="coverClicked"
            ></div>
            <header id="header">
                <div class="menu-bar">
                    <span
                        :id="'menu__' + menu.subMenusId"
                        class="menu"
                        :class="{ selected: header.subMenus.shownSubMenusId === menu.subMenusId}"
                        ref="menu"
                        v-for="menu in header.menuBar.menus"
                        @click="menuClicked"
                        @mousedown.left="menuMouseDowned"
                        @mouseover="menuMouseOver"
                    >
                        {{ menu.name }}
                    </span>
                </div>
                <div
                    class="sub-menus"
                    v-show="header.subMenus.isShown"
                    :style="{ top: header.subMenus.position.top+'px', left:header.subMenus.position.left+'px' }"
                >
                    <label
                        class="sub-menu"
                        v-for="subMenu in header.subMenus[header.subMenus.shownSubMenusId]"
                        @click="subMenu.executedFunction"
                    >
                        <input v-if="subMenu.isInputElement" type="file" />
                        {{ subMenu.shownName }}
                    </label>
                </div>
            </header>
            <main id="main">
                <div class="upper">
                    <div class="canvas">
                        <div id="layer-0" class="layer">
                            <img
                                :src="externalStorage.projectFile.materials[main.upper.canvas.layers[0].element.material_name] ? externalStorage.projectFile.materials[main.upper.canvas.layers[0].element.material_name].base64 : ''"
                                :style="{ top: main.upper.canvas.layers[0].element.position.y, left: main.upper.canvas.layers[0].element.position.x }"
                            />
                            <div
                                v-for="layer in main.upper.canvas.layers.slice(1)"
                                :id="'layer-' + layer.number"
                                class="layer"
                                :style="{ top: layer.element.position.y, left: layer.element.position.x }"
                            >
                                <img
                                    v-if="layer.element.type === 'image'"
                                    :src="externalStorage.projectFile.materials[layer.element.material_name].base64"
                                    :height="layer.element.size.height"
                                />
                                <p
                                    v-if="layer.element.type === 'text'"
                                    :style="{ fontFamily: layer.element.text.font_name, fontSize: layer.element.text.font_size }"
                                >
                                    {{ layer.element.text.body }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="properties"></div>
                </div>
                <div class="lower">
                    <div class="canvas-controls">
                        <button @click="playCanvas">
                            <i class="fa-solid fa-play" title="再生ボタン"></i>
                        </button>
                        <button @click="pauseCanvas">
                            <i
                                class="fa-solid fa-pause"
                                title="一時停止ボタン"
                            ></i>
                        </button>
                        <button @click="stopCanvas">
                            <i class="fa-solid fa-stop" title="停止ボタン"></i>
                        </button>
                    </div>
                    <div class="timeline"></div>
                </div>
            </main>
            <footer id="footer"></footer>
        </div>
    </body>
    <script src="./assets/js/app.js"></script>
</html>
