body {
    background-color: #24292e;
    color: white;
    font-family: "Noto Sans JP", "Helvetica Neue", Arial,
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 20px;
    height: 100vh;
    margin: 0;
    text-align: center;
    #app {
        height: 100vh;
        .cover {
            height: 100vh;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
        #header {
            position: relative;
            z-index: 1100;
            .menu-bar {
                text-align: left;
                user-select: none;
                .menu {
                    background-color: black;
                    font-size: 15px;
                    padding: 5px 10px 5px 10px;
                }
                .menu:hover,
                .selected {
                    background-color: #e0e0e0;
                    color: black;
                }
            }
            .sub-menus {
                background-color: #2196f3;
                font-size: 15px;
                position: absolute;
                text-align: left;
                user-select: none;
                .sub-menu {
                    padding: 10px;
                }
                .sub-menu:hover {
                    background-color: #42a5f5;
                }
            }
        }
        #main {
            .upper {
                display: flex;
                .canvas {
                    display: inline-block;
                    width: 65%;
                }
                .properties {
                    display: inline-block;
                    width: 35%;
                }
            }
            .lower {
                .timeline {
                }
            }
        }
    }
}
